/* Molstructure css */
.molstructure_2D_iframe,
.molstructure_3D_iframe {
    width: 100%;
    height: 100vh;

}
.tiny_molstructure_wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.tiny_molstructure_wrapper .inputs_size {
    display: flex;
    flex-direction: row;
    align-self: center;
    padding: 1px;
}
.tiny_molstructure_wrapper .inputs_size div {
    padding: 1px;
}

div.modal-content:has(.molstructure_2D_iframe),
div.modal-content:has(.molstructure_3D_iframe) {
    height: 100vh;
}
